<?xml version="1.0"?>
<robot name="iCub">

  <material name="grey"><color rgba="0.5 0.5 0.5 1"/></material>
  <material name="white"><color rgba="1 1 1 1"/></material>
  <material name="dark"><color rgba="0.1 0.1 0.1 1"/></material>

  <!-- BASE -->
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/chest.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <!-- HEAD -->
  <link name="head">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/head.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="head_joint" type="fixed">
    <parent link="base_link"/>
    <child link="head"/>
    <origin xyz="0 0 0.18"/>
  </joint>

  <!-- LEFT ARM -->
  <link name="l_arm">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/l_upper_arm.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="l_arm_j" type="fixed">
    <parent link="base_link"/>
    <child link="l_arm"/>
    <origin xyz="0 0.12 0.12"/>
  </joint>

  <!-- LEFT FOREARM -->
  <link name="l_forearm">
    <visual>
      <geometry>
        <box size="0.03 0.03 0.15"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <joint name="l_forearm_j" type="fixed">
    <parent link="l_arm"/>
    <child link="l_forearm"/>
    <origin xyz="0 0 -0.15"/>
  </joint>

  <!-- LEFT HAND -->
  <link name="l_hand">
    <visual>
      <geometry>
        <box size="0.04 0.02 0.08"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <joint name="l_hand_j" type="fixed">
    <parent link="l_forearm"/>
    <child link="l_hand"/>
    <origin xyz="0 0 -0.12"/>
  </joint>

  <!-- RIGHT ARM -->
  <link name="r_arm">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/r_upper_arm.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="r_arm_j" type="fixed">
    <parent link="base_link"/>
    <child link="r_arm"/>
    <origin xyz="0 -0.12 0.12"/>
  </joint>

  <!-- RIGHT FOREARM -->
  <link name="r_forearm">
    <visual>
      <geometry>
        <box size="0.03 0.03 0.15"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <joint name="r_forearm_j" type="fixed">
    <parent link="r_arm"/>
    <child link="r_forearm"/>
    <origin xyz="0 0 -0.15"/>
  </joint>

  <!-- RIGHT HAND -->
  <link name="r_hand">
    <visual>
      <geometry>
        <box size="0.04 0.02 0.08"/>
      </geometry>
      <material name="dark"/>
    </visual>
  </link>

  <joint name="r_hand_j" type="fixed">
    <parent link="r_forearm"/>
    <child link="r_hand"/>
    <origin xyz="0 0 -0.12"/>
  </joint>

  <!-- LEFT LEG -->
  <link name="l_leg">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/l_upper_leg.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="l_leg_j" type="fixed">
    <parent link="base_link"/>
    <child link="l_leg"/>
    <origin xyz="0 0.05 -0.2"/>
  </joint>

  <link name="l_lower_leg">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/l_lower_leg.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="l_lower_leg_j" type="fixed">
    <parent link="l_leg"/>
    <child link="l_lower_leg"/>
    <origin xyz="0 0 -0.25"/>
  </joint>

  <link name="l_foot">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/l_foot.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="l_foot_j" type="fixed">
    <parent link="l_lower_leg"/>
    <child link="l_foot"/>
    <origin xyz="0 0 -0.2"/>
  </joint>

  <!-- RIGHT LEG -->
  <link name="r_leg">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/r_upper_leg.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="r_leg_j" type="fixed">
    <parent link="base_link"/>
    <child link="r_leg"/>
    <origin xyz="0 -0.05 -0.2"/>
  </joint>

  <link name="r_lower_leg">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/r_lower_leg.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="r_lower_leg_j" type="fixed">
    <parent link="r_leg"/>
    <child link="r_lower_leg"/>
    <origin xyz="0 0 -0.25"/>
  </joint>

  <link name="r_foot">
    <visual>
      <geometry>
        <mesh filename="package://humanoid_robot/meshes/r_foot.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>

  <joint name="r_foot_j" type="fixed">
    <parent link="r_lower_leg"/>
    <child link="r_foot"/>
    <origin xyz="0 0 -0.2"/>
  </joint>

</robot>
